main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.7.4.23292",
      "templateHash": "5099299654987182411"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[deployment().location]",
      "metadata": {
        "description": "The location for the resources deployed in this solution."
      }
    },
    "logAnalyticsWorkspaceResourceId": {
      "type": "string",
      "metadata": {
        "description": "The resource ID to an existing log analytics workspace. Ideally, utilizing the same workspace used for AVD Insights."
      }
    },
    "templateSpecId": {
      "type": "string",
      "metadata": {
        "description": "The Template Spec version ID that will be used to by the rip and replace AVD solution."
      }
    },
    "exisitingAutomationAccount": {
      "type": "string",
      "metadata": {
        "description": "Set the following values if there are exisiting resource groups, automation accounts, or storage account that should be targeted. If values are not set a default naming convention will be used by resources created."
      }
    },
    "existingAutomationAccountRg": {
      "type": "string"
    },
    "deployBlobUpdateLogicApp": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "To be used with AVD solutions that deploy post configuration software. Set the following values if there is a storage account that should be targeted. If values are not set a default naming convention will be used by resources created."
      }
    },
    "exisitingStorageAccount": {
      "type": "string",
      "defaultValue": ""
    },
    "existingStorageAccountRg": {
      "type": "string",
      "defaultValue": ""
    },
    "container": {
      "type": "string",
      "defaultValue": ""
    },
    "triggerFrequency": {
      "type": "string",
      "defaultValue": "Day",
      "metadata": {
        "description": "Frequency of logic app trigger for Blob Check Logic App."
      },
      "allowedValues": [
        "Month",
        "Week",
        "Day",
        "Hour",
        "Minute",
        "Second"
      ]
    },
    "triggerInterval": {
      "type": "int",
      "defaultValue": 1,
      "metadata": {
        "description": "Interval of logic app trigger for Blob Check Logic App."
      }
    },
    "hostPoolName": {
      "type": "string",
      "metadata": {
        "description": "Host pool name to target."
      }
    },
    "hostPoolResourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Host pool resource group name to target."
      }
    },
    "sessionHostResourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Session host resource group name to target."
      }
    },
    "deploymentNameSuffix": {
      "type": "string",
      "defaultValue": "[utcNow()]",
      "metadata": {
        "description": "deployment name suffix."
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Day",
      "metadata": {
        "description": "Frequency of logic app trigger for Image Check Logic App."
      },
      "allowedValues": [
        "Month",
        "Week",
        "Day",
        "Hour",
        "Minute",
        "Second"
      ]
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 1,
      "metadata": {
        "description": "Interval of logic app trigger for Image Check Logic App."
      }
    },
    "emailContact": {
      "type": "string",
      "metadata": {
        "description": "E-mail contact or group used by logic app approval workflow."
      }
    },
    "dayOfWeek": {
      "type": "string",
      "defaultValue": "Saturday",
      "metadata": {
        "description": "The target maintenance window day for AVD"
      },
      "allowedValues": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ]
    },
    "dayOfWeekOccurrence": {
      "type": "string",
      "defaultValue": "First",
      "metadata": {
        "description": "The target maintenance window week occurrence for AVD"
      },
      "allowedValues": [
        "First",
        "Second",
        "Third",
        "Fourth",
        "LastDay"
      ]
    },
    "startTime": {
      "type": "string",
      "defaultValue": "23:00",
      "metadata": {
        "description": "The target maintenance window start time for AVD"
      }
    }
  },
  "variables": {
    "cloud": "[environment().name]",
    "tenantId": "[tenant().tenantId]",
    "subscriptionId": "[subscription().subscriptionId]",
    "actionGroupName": "[format('ag-{0}-avd-rar', variables('NamingStandard'))]",
    "workflows_GetImageVersion_name": "[format('la-{0}-avd-imageVersion', parameters('hostPoolName'))]",
    "workflows_GetBlobUpdate_name": "[format('la-{0}-avd-blobUpdate', parameters('hostPoolName'))]",
    "recurrenceType": "Recurrence",
    "waitForRunBook": true,
    "officeConnectionName": "office365",
    "automationAccountConnectionName": "azureautomation",
    "blobConnectionName": "sa-azureblob",
    "identityType": "SystemAssigned",
    "state": "Enabled",
    "schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "connectionType": "Object",
    "checkBothCreatedAndModifiedDateTime": false,
    "maxFileCount": 10,
    "roleId": "b24988ac-6180-42a0-ab88-20f7382dd24c",
    "runbookNewHostPoolRipAndReplace": "Start-AzureVirtualDesktopRipAndReplace",
    "runbookScheduleRunbookName": "Get-RunBookSchedule",
    "runbookGetSessionHostVm": "Get-SessionHostVirtualMachine",
    "runbookMarketPlaceImageVersion": "Get-MarketPlaceImageVersion",
    "runbooks": [
      {
        "name": "Get-RunBookSchedule",
        "uri": "https://raw.githubusercontent.com/mikedzikowski/AVDRipAndReplace/main/runbooks/Get-RunBookSchedule.ps1"
      },
      {
        "name": "Get-MarketPlaceImageVersion",
        "uri": "https://raw.githubusercontent.com/mikedzikowski/AVDRipAndReplace/main/runbooks/Get-MarketPlaceImageVersion.ps1"
      },
      {
        "name": "Get-SessionHostVirtualMachine",
        "uri": "https://raw.githubusercontent.com/mikedzikowski/AVDRipAndReplace/main/runbooks/Get-SessionHostVirtualMachine.ps1"
      },
      {
        "name": "New-AutomationSchedule",
        "uri": "https://raw.githubusercontent.com/mikedzikowski/AVDRipAndReplace/main/runbooks/New-AutomationSchedule.ps1"
      }
    ],
    "runbooksPwsh7": [
      {
        "name": "Start-AzureVirtualDesktopRipAndReplace",
        "uri": "https://raw.githubusercontent.com/mikedzikowski/AVDRipAndReplace/main/runbooks/Start-AzureVirtualDesktopRipAndReplace.ps1"
      }
    ],
    "LocationShortNames": {
      "australiacentral": "ac",
      "australiacentral2": "ac2",
      "australiaeast": "ae",
      "australiasoutheast": "as",
      "brazilsouth": "bs2",
      "brazilsoutheast": "bs",
      "canadacentral": "cc",
      "canadaeast": "ce",
      "centralindia": "ci",
      "centralus": "cu",
      "eastasia": "ea",
      "eastus": "eu",
      "eastus2": "eu2",
      "francecentral": "fc",
      "francesouth": "fs",
      "germanynorth": "gn",
      "germanywestcentral": "gwc",
      "japaneast": "je",
      "japanwest": "jw",
      "jioindiacentral": "jic",
      "jioindiawest": "jiw",
      "koreacentral": "kc",
      "koreasouth": "ks",
      "northcentralus": "ncu",
      "northeurope": "ne",
      "norwayeast": "ne2",
      "norwaywest": "nw",
      "southafricanorth": "san",
      "southafricawest": "saw",
      "southcentralus": "scu",
      "southeastasia": "sa",
      "southindia": "si",
      "swedencentral": "sc",
      "switzerlandnorth": "sn",
      "switzerlandwest": "sw",
      "uaecentral": "uc",
      "uaenorth": "un",
      "uksouth": "us",
      "ukwest": "uw",
      "usdodcentral": "uc",
      "usdodeast": "ue",
      "usgovarizona": "az",
      "usgoviowa": "ia",
      "usgovtexas": "tx",
      "usgovvirginia": "va",
      "westcentralus": "wcu",
      "westeurope": "we",
      "westindia": "wi",
      "westus": "wu",
      "westus2": "wu2",
      "westus3": "wu3"
    },
    "LocationShortName": "[variables('LocationShortNames')[parameters('location')]]",
    "NamingStandard": "[format('{0}', variables('LocationShortName'))]",
    "automationAccountNameVar": "[if(not(empty(parameters('exisitingAutomationAccount'))), createArray(parameters('exisitingAutomationAccount')), createArray(replace(format('aa-{0}', variables('NamingStandard')), 'aa', uniqueString(variables('NamingStandard')))))]",
    "automationAccountNameValue": "[first(variables('automationAccountNameVar'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('aa-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "automationAccountName": {
            "value": "[variables('automationAccountNameValue')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "logAnalyticsWorkspaceResourceId": {
            "value": "[parameters('logAnalyticsWorkspaceResourceId')]"
          },
          "runbookNames": {
            "value": "[variables('runbooks')]"
          },
          "pwsh7RunbookNames": {
            "value": "[variables('runbooksPwsh7')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "11243270913721676751"
            }
          },
          "parameters": {
            "location": {
              "type": "string"
            },
            "logAnalyticsWorkspaceResourceId": {
              "type": "string"
            },
            "automationAccountName": {
              "type": "string"
            },
            "runbookNames": {
              "type": "array"
            },
            "pwsh7RunbookNames": {
              "type": "array"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Automation/automationAccounts",
              "apiVersion": "2021-06-22",
              "name": "[parameters('automationAccountName')]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "sku": {
                  "name": "Basic"
                },
                "encryption": {
                  "keySource": "Microsoft.Automation",
                  "identity": {}
                }
              }
            },
            {
              "copy": {
                "name": "runbookDeployment",
                "count": "[length(parameters('runbookNames'))]"
              },
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2019-06-01",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), parameters('runbookNames')[copyIndex()].name)]",
              "location": "[parameters('location')]",
              "properties": {
                "runbookType": "PowerShell",
                "logProgress": true,
                "logVerbose": true,
                "publishContentLink": {
                  "uri": "[parameters('runbookNames')[copyIndex()].uri]",
                  "version": "1.0.0.0"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "copy": {
                "name": "pwsh7runbookDeployment",
                "count": "[length(parameters('pwsh7RunbookNames'))]"
              },
              "type": "Microsoft.Automation/automationAccounts/runbooks",
              "apiVersion": "2019-06-01",
              "name": "[format('{0}/{1}', parameters('automationAccountName'), parameters('pwsh7RunbookNames')[copyIndex()].name)]",
              "location": "[parameters('location')]",
              "properties": {
                "runbookType": "PowerShell7",
                "logProgress": true,
                "logVerbose": true,
                "publishContentLink": {
                  "uri": "[parameters('pwsh7RunbookNames')[copyIndex()].uri]",
                  "version": "1.0.0.0"
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            },
            {
              "type": "Microsoft.Insights/diagnosticSettings",
              "apiVersion": "2017-05-01-preview",
              "scope": "[format('Microsoft.Automation/automationAccounts/{0}', parameters('automationAccountName'))]",
              "name": "[format('diag-{0}', parameters('automationAccountName'))]",
              "properties": {
                "logs": [
                  {
                    "category": "JobLogs",
                    "enabled": true
                  },
                  {
                    "category": "JobStreams",
                    "enabled": true
                  }
                ],
                "workspaceId": "[parameters('logAnalyticsWorkspaceResourceId')]"
              },
              "dependsOn": [
                "[resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName'))]"
              ]
            }
          ],
          "outputs": {
            "aaIdentityId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName')), '2021-06-22', 'full').identity.principalId]"
            },
            "aaLocation": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Automation/automationAccounts', parameters('automationAccountName')), '2021-06-22', 'full').location]"
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "connection_azureautomation_name": {
            "value": "[variables('automationAccountConnectionName')]"
          },
          "subscriptionId": {
            "value": "[variables('subscriptionId')]"
          },
          "displayName": {
            "value": "[variables('automationAccountConnectionName')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "16463077532820351799"
            }
          },
          "parameters": {
            "connection_azureautomation_name": {
              "type": "string"
            },
            "subscriptionId": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "displayName": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('connection_azureautomation_name')]",
              "location": "[parameters('location')]",
              "kind": "V1",
              "properties": {
                "displayName": "[parameters('displayName')]",
                "parameterValueType": "Alternative",
                "customParameterValues": {},
                "api": {
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), resourceGroup().location)]"
                },
                "testLinks": []
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('o365Connection-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "displayName": {
            "value": "[variables('officeConnectionName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "subscriptionId": {
            "value": "[variables('subscriptionId')]"
          },
          "connection_azureautomation_name": {
            "value": "[variables('officeConnectionName')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "7922443813728630339"
            }
          },
          "parameters": {
            "connection_azureautomation_name": {
              "type": "string"
            },
            "subscriptionId": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "displayName": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('connection_azureautomation_name')]",
              "location": "[parameters('location')]",
              "kind": "V1",
              "properties": {
                "displayName": "[parameters('displayName')]",
                "customParameterValues": {},
                "api": {
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365', parameters('subscriptionId'), resourceGroup().location)]"
                },
                "testLinks": []
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('rbac-aaConnector-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('getImageVersionlogicApp-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.imagePrincipalId.value]"
          },
          "roleId": {
            "value": "[variables('roleId')]"
          },
          "scope": {
            "value": "resourceGroup().id"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "2412093124036441964"
            }
          },
          "parameters": {
            "canDelegate": {
              "type": "bool",
              "defaultValue": false
            },
            "description": {
              "type": "string",
              "defaultValue": "Contributor RBAC permission"
            },
            "principalId": {
              "type": "string"
            },
            "roleId": {
              "type": "string"
            },
            "scope": {
              "type": "string",
              "defaultValue": "[resourceGroup().id]"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2020-04-01-preview",
              "name": "[guid(parameters('scope'), parameters('principalId'), parameters('roleId'))]",
              "properties": {
                "canDelegate": "[parameters('canDelegate')]",
                "description": "[parameters('description')]",
                "principalId": "[parameters('principalId')]",
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', parameters('roleId'))]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "rbac": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Authorization/roleAssignments', guid(parameters('scope'), parameters('principalId'), parameters('roleId')))).roleDefinitionId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('getImageVersionlogicApp-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('rbacHost-automationAccount-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('hostPoolResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.aaIdentityId.value]"
          },
          "roleId": {
            "value": "[variables('roleId')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "2412093124036441964"
            }
          },
          "parameters": {
            "canDelegate": {
              "type": "bool",
              "defaultValue": false
            },
            "description": {
              "type": "string",
              "defaultValue": "Contributor RBAC permission"
            },
            "principalId": {
              "type": "string"
            },
            "roleId": {
              "type": "string"
            },
            "scope": {
              "type": "string",
              "defaultValue": "[resourceGroup().id]"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2020-04-01-preview",
              "name": "[guid(parameters('scope'), parameters('principalId'), parameters('roleId'))]",
              "properties": {
                "canDelegate": "[parameters('canDelegate')]",
                "description": "[parameters('description')]",
                "principalId": "[parameters('principalId')]",
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', parameters('roleId'))]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "rbac": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Authorization/roleAssignments', guid(parameters('scope'), parameters('principalId'), parameters('roleId')))).roleDefinitionId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('rbacSession-automationAccount-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('sessionHostResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.aaIdentityId.value]"
          },
          "roleId": {
            "value": "[variables('roleId')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "2412093124036441964"
            }
          },
          "parameters": {
            "canDelegate": {
              "type": "bool",
              "defaultValue": false
            },
            "description": {
              "type": "string",
              "defaultValue": "Contributor RBAC permission"
            },
            "principalId": {
              "type": "string"
            },
            "roleId": {
              "type": "string"
            },
            "scope": {
              "type": "string",
              "defaultValue": "[resourceGroup().id]"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2020-04-01-preview",
              "name": "[guid(parameters('scope'), parameters('principalId'), parameters('roleId'))]",
              "properties": {
                "canDelegate": "[parameters('canDelegate')]",
                "description": "[parameters('description')]",
                "principalId": "[parameters('principalId')]",
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', parameters('roleId'))]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "rbac": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Authorization/roleAssignments', guid(parameters('scope'), parameters('principalId'), parameters('roleId')))).roleDefinitionId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('rbac-automationAccountOwner-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "location": "[deployment().location]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.aaIdentityId.value]"
          },
          "scope": {
            "value": "[subscription().id]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "1148583834647782536"
            }
          },
          "parameters": {
            "canDelegate": {
              "type": "bool",
              "defaultValue": false
            },
            "description": {
              "type": "string",
              "defaultValue": "Contributor RBAC permission"
            },
            "principalId": {
              "type": "string"
            },
            "scope": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2020-04-01-preview",
              "name": "[guid(parameters('scope'), parameters('principalId'), '8e3af657-a8ff-443c-a75c-2fe8c4bcb635')]",
              "properties": {
                "canDelegate": "[parameters('canDelegate')]",
                "description": "[parameters('description')]",
                "principalId": "[parameters('principalId')]",
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', '8e3af657-a8ff-443c-a75c-2fe8c4bcb635')]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "rbac": {
              "type": "string",
              "value": "[reference(subscriptionResourceId('Microsoft.Authorization/roleAssignments', guid(parameters('scope'), parameters('principalId'), '8e3af657-a8ff-443c-a75c-2fe8c4bcb635'))).roleDefinitionId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('getImageVersionlogicApp-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "dayOfWeek": {
            "value": "[parameters('dayOfWeek')]"
          },
          "startTime": {
            "value": "[parameters('startTime')]"
          },
          "dayOfWeekOccurrence": {
            "value": "[parameters('dayOfWeekOccurrence')]"
          },
          "cloud": {
            "value": "[variables('cloud')]"
          },
          "officeConnectionName": {
            "value": "[variables('officeConnectionName')]"
          },
          "subscriptionId": {
            "value": "[variables('subscriptionId')]"
          },
          "tenantId": {
            "value": "[variables('tenantId')]"
          },
          "templateSpecId": {
            "value": "[parameters('templateSpecId')]"
          },
          "emailContact": {
            "value": "[parameters('emailContact')]"
          },
          "workflows_GetImageVersion_name": {
            "value": "[variables('workflows_GetImageVersion_name')]"
          },
          "automationAccountConnectionName": {
            "value": "[variables('automationAccountConnectionName')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "state": {
            "value": "[variables('state')]"
          },
          "recurrenceFrequency": {
            "value": "[parameters('recurrenceFrequency')]"
          },
          "recurrenceType": {
            "value": "[variables('recurrenceType')]"
          },
          "recurrenceInterval": {
            "value": "[parameters('recurrenceInterval')]"
          },
          "automationAccountName": {
            "value": "[variables('automationAccountNameValue')]"
          },
          "automationAccountLocation": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.aaLocation.value]"
          },
          "automationAccountResourceGroup": {
            "value": "[parameters('existingAutomationAccountRg')]"
          },
          "runbookNewHostPoolRipAndReplace": {
            "value": "[variables('runbookNewHostPoolRipAndReplace')]"
          },
          "getRunbookScheduleRunbookName": {
            "value": "[variables('runbookScheduleRunbookName')]"
          },
          "getRunbookGetSessionHostVm": {
            "value": "[variables('runbookGetSessionHostVm')]"
          },
          "getGetMarketPlaceImageVersion": {
            "value": "[variables('runbookMarketPlaceImageVersion')]"
          },
          "waitForRunBook": {
            "value": "[variables('waitForRunBook')]"
          },
          "hostPoolName": {
            "value": "[parameters('hostPoolName')]"
          },
          "identityType": {
            "value": "[variables('identityType')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "17352015172784058023"
            }
          },
          "parameters": {
            "workflows_GetImageVersion_name": {
              "type": "string"
            },
            "automationAccountConnectionName": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "recurrenceFrequency": {
              "type": "string"
            },
            "recurrenceInterval": {
              "type": "int"
            },
            "recurrenceType": {
              "type": "string"
            },
            "automationAccountName": {
              "type": "string"
            },
            "automationAccountResourceGroup": {
              "type": "string"
            },
            "automationAccountLocation": {
              "type": "string"
            },
            "runbookNewHostPoolRipAndReplace": {
              "type": "string"
            },
            "getRunbookScheduleRunbookName": {
              "type": "string"
            },
            "getRunbookGetSessionHostVm": {
              "type": "string"
            },
            "getGetMarketPlaceImageVersion": {
              "type": "string"
            },
            "waitForRunBook": {
              "type": "bool"
            },
            "identityType": {
              "type": "string"
            },
            "emailContact": {
              "type": "string"
            },
            "officeConnectionName": {
              "type": "string"
            },
            "startTime": {
              "type": "string"
            },
            "dayOfWeek": {
              "type": "string"
            },
            "dayOfWeekOccurrence": {
              "type": "string"
            },
            "cloud": {
              "type": "string"
            },
            "tenantId": {
              "type": "string"
            },
            "subscriptionId": {
              "type": "string"
            },
            "hostPoolName": {
              "type": "string"
            },
            "templateSpecId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('workflows_GetImageVersion_name')]",
              "location": "[parameters('location')]",
              "identity": {
                "type": "[parameters('identityType')]"
              },
              "properties": {
                "state": "[parameters('state')]",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "recurrence": {
                        "frequency": "[parameters('recurrenceFrequency')]",
                        "interval": "[parameters('recurrenceInterval')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "[parameters('recurrenceFrequency')]",
                        "interval": "[parameters('recurrenceInterval')]"
                      },
                      "type": "[parameters('recurrenceType')]"
                    }
                  },
                  "actions": {
                    "Check_for_Exisiting_Runbook_Schedule_for_Hostpool_AVD_Environment": {
                      "runAfter": {
                        "Parse_Session_Host_VM_and_RG": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "properties": {
                            "parameters": {
                              "AutomationAccountName": "[parameters('automationAccountName')]",
                              "ResourceGroupName": "[parameters('automationAccountResourceGroup')]",
                              "runbookName": "[parameters('runbookNewHostPoolRipAndReplace')]",
                              "Environment": "[parameters('cloud')]",
                              "HostpoolName": "[parameters('hostPoolName')]"
                            }
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "[concat(format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName')))]",
                        "queries": {
                          "runbookName": "[parameters('getRunbookScheduleRunbookName')]",
                          "wait": "[parameters('waitForRunBook')]",
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Condition_Check_for_Runbook_Schedule_and_Image_Version_on_AVD_Environment": {
                      "actions": {
                        "Condition_Check_for_Approval_Selection_in_Email": {
                          "actions": {
                            "Create_Schedule_for_Hostpool_Rip_and_Replace_on_AVD_Environment": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "properties": {
                                    "parameters": {
                                      "AutomationAccountName": "[parameters('automationAccountName')]",
                                      "ResourceGroupName": "[parameters('automationAccountResourceGroup')]",
                                      "ScheduleName": "[format('{0}-ScheduleForRipAndReplace', parameters('hostPoolName'))]",
                                      "StartTime": "[parameters('startTime')]",
                                      "DayOfWeek": "[parameters('dayOfWeek')]",
                                      "DayOfWeekOccurrence": "[parameters('dayOfWeekOccurrence')]",
                                      "environment": "[parameters('cloud')]",
                                      "runbookName": "[parameters('runbookNewHostPoolRipAndReplace')]",
                                      "HostPoolName": "[parameters('hostPoolName')]",
                                      "TenantId": "[parameters('tenantId')]",
                                      "TemplateSpecId": "[parameters('templateSpecId')]",
                                      "SubscriptionId": "[parameters('subscriptionId')]"
                                    }
                                  }
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                  }
                                },
                                "method": "put",
                                "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName'))]",
                                "queries": {
                                  "runbookName": "New-AutomationSchedule",
                                  "wait": true,
                                  "x-ms-api-version": "2015-10-31"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Terminate_2": {
                                "runAfter": {},
                                "type": "Terminate",
                                "inputs": {
                                  "runStatus": "Cancelled"
                                }
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@body('Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment')?['SelectedOption']",
                                  "Approve"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment": {
                          "runAfter": {},
                          "type": "ApiConnectionWebhook",
                          "inputs": {
                            "body": {
                              "Message": {
                                "Body": "[format('Hostpool: @{{body(''Parse_Session_Host_VM_and_RG'')?[''hostPool'']}}\n\n\nNew Image Version:  @{{body(''Parse_image_version'')?[''ImageVersion'']}}\n\n\nPlease approve schedule on the {0} {1} of the Month @ {2} for \"rip and replace\" of @{{body(''Parse_Session_Host_VM_and_RG'')?[''hostPool'']}} AVD enviroment. \n', parameters('dayOfWeekOccurrence'), parameters('dayOfWeek'), parameters('startTime'))]",
                                "HideHTMLMessage": true,
                                "Importance": "High",
                                "Options": "Approve, Reject",
                                "ShowHTMLConfirmationDialog": false,
                                "Subject": "New Image Version Found for AVD Hostpool Environment - @{body('Parse_Session_Host_VM_and_RG')?['hostPool']}. Please Approve or Reject Creating Automated Schedule for Updating AVD Environment",
                                "To": "[parameters('emailContact')]"
                              },
                              "NotificationUrl": "@{listCallbackUrl()}"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "path": "/approvalmail/$subscriptions"
                          }
                        }
                      },
                      "runAfter": {
                        "Parse_image_version": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Terminate": {
                            "runAfter": {},
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Cancelled"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Parse_Schedule')?['ScheduleFound']",
                              false
                            ]
                          },
                          {
                            "equals": [
                              "@body('Parse_image_version')?['NewImageFound']",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Get_Image_Version_of_Sessionhost_in_AVD_Environment": {
                      "runAfter": {
                        "Parse_Schedule": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "properties": {
                            "parameters": {
                              "ResourceGroupName": "@body('Parse_Session_Host_VM_and_RG')?['productionVmRg']",
                              "VMName": "@body('Parse_Session_Host_VM_and_RG')?['productionVm']",
                              "Environment": "[parameters('cloud')]"
                            }
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName'))]",
                        "queries": {
                          "runbookName": "[parameters('getGetMarketPlaceImageVersion')]",
                          "wait": true,
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Get_Job_Output": {
                      "runAfter": {
                        "Get_Session_Host_Information_Resource_Group_and_Virtual_Machine_Name": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[concat(format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs/@{{encodeURIComponent(body(''Get_Session_Host_Information_Resource_Group_and_Virtual_Machine_Name'')?[''properties'']?[''jobId''])}}/output', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName')))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Get_Job_Output_of_Marketplace_Image_Version": {
                      "runAfter": {
                        "Get_Image_Version_of_Sessionhost_in_AVD_Environment": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[concat(format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs/@{{encodeURIComponent(body(''Get_Image_Version_of_Sessionhost_in_AVD_Environment'')?[''properties'']?[''jobId''])}}/output', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName')))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Get_Output_from_Runbook_Get-RunBookSchedule": {
                      "runAfter": {
                        "Check_for_Exisiting_Runbook_Schedule_for_Hostpool_AVD_Environment": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[concat(format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs/@{{encodeURIComponent(body(''Check_for_Exisiting_Runbook_Schedule_for_Hostpool_AVD_Environment'')?[''properties'']?[''jobId''])}}/output', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName')))]",
                        "queries": {
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Get_Session_Host_Information_Resource_Group_and_Virtual_Machine_Name": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "properties": {
                            "parameters": {
                              "hostpoolName": "[parameters('hostPoolName')]",
                              "Environment": "[parameters('cloud')]"
                            }
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureautomation']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "[concat(format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName')))]",
                        "queries": {
                          "runbookName": "[parameters('getRunbookGetSessionHostVm')]",
                          "wait": true,
                          "x-ms-api-version": "2015-10-31"
                        }
                      }
                    },
                    "Parse_Schedule": {
                      "runAfter": {
                        "Get_Output_from_Runbook_Get-RunBookSchedule": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_Output_from_Runbook_Get-RunBookSchedule')",
                        "schema": {
                          "properties": {
                            "ScheduleFound": {
                              "type": "boolean"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Parse_Session_Host_VM_and_RG": {
                      "runAfter": {
                        "Get_Job_Output": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_job_output')",
                        "schema": {
                          "properties": {
                            "hostPool": {
                              "type": "string"
                            },
                            "productionVM": {
                              "type": "string"
                            },
                            "productionVmRg": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Parse_image_version": {
                      "runAfter": {
                        "Get_Job_Output_of_Marketplace_Image_Version": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_Job_Output_of_Marketplace_Image_Version')",
                        "schema": {
                          "properties": {
                            "ImageVersion": {
                              "type": "string"
                            },
                            "NewImageFound": {
                              "type": "boolean"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/{2}', parameters('subscriptionId'), resourceGroup().name, parameters('automationAccountConnectionName'))]",
                        "connectionName": "[parameters('automationAccountConnectionName')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        },
                        "id": "[concat(format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), parameters('automationAccountLocation')))]"
                      },
                      "office365": {
                        "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/{2}', parameters('subscriptionId'), resourceGroup().name, parameters('officeConnectionName'))]",
                        "connectionName": "[parameters('officeConnectionName')]",
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365', parameters('subscriptionId'), parameters('automationAccountLocation'))]"
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "imagePrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('workflows_GetImageVersion_name')), '2017-07-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('o365Connection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "condition": "[parameters('deployBlobUpdateLogicApp')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('sa-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingStorageAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "storageAccountName": {
            "value": "[parameters('exisitingStorageAccount')]"
          },
          "containerName": {
            "value": "[parameters('container')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "16501575410296232655"
            }
          },
          "parameters": {
            "storageAccountName": {
              "type": "string"
            },
            "containerName": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
              "apiVersion": "2021-06-01",
              "name": "[format('{0}/default/{1}', parameters('storageAccountName'), parameters('containerName'))]"
            }
          ],
          "outputs": {
            "storageAccountName": {
              "type": "string",
              "value": "[parameters('storageAccountName')]"
            },
            "storageAccountId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
            }
          }
        }
      }
    },
    {
      "condition": "[parameters('deployBlobUpdateLogicApp')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('rbac-blobConnector-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "principalId": {
            "value": "[if(parameters('deployBlobUpdateLogicApp'), reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('getBlobUpdateLogicApp-deployment-{0}', parameters('deploymentNameSuffix'))), '2020-10-01').outputs.blobPrincipalId.value, 'None')]"
          },
          "roleId": {
            "value": "[variables('roleId')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "2412093124036441964"
            }
          },
          "parameters": {
            "canDelegate": {
              "type": "bool",
              "defaultValue": false
            },
            "description": {
              "type": "string",
              "defaultValue": "Contributor RBAC permission"
            },
            "principalId": {
              "type": "string"
            },
            "roleId": {
              "type": "string"
            },
            "scope": {
              "type": "string",
              "defaultValue": "[resourceGroup().id]"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2020-04-01-preview",
              "name": "[guid(parameters('scope'), parameters('principalId'), parameters('roleId'))]",
              "properties": {
                "canDelegate": "[parameters('canDelegate')]",
                "description": "[parameters('description')]",
                "principalId": "[parameters('principalId')]",
                "roleDefinitionId": "[resourceId('Microsoft.Authorization/roleDefinitions', parameters('roleId'))]",
                "principalType": "ServicePrincipal"
              }
            }
          ],
          "outputs": {
            "rbac": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Authorization/roleAssignments', guid(parameters('scope'), parameters('principalId'), parameters('roleId')))).roleDefinitionId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('automationAccountConnection-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('blobConnection-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('getBlobUpdateLogicApp-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "condition": "[parameters('deployBlobUpdateLogicApp')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('blobConnection-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "storageName": {
            "value": "[if(parameters('deployBlobUpdateLogicApp'), parameters('exisitingStorageAccount'), 'None')]"
          },
          "name": {
            "value": "[variables('blobConnectionName')]"
          },
          "saResourceGroup": {
            "value": "[parameters('existingStorageAccountRg')]"
          },
          "subscriptionId": {
            "value": "[variables('subscriptionId')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "2476708080359959860"
            }
          },
          "parameters": {
            "storageName": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "subscriptionId": {
              "type": "string"
            },
            "saResourceGroup": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[parameters('name')]",
              "kind": "V1",
              "location": "[parameters('location')]",
              "properties": {
                "displayName": "[format('{0}-blobconnection', parameters('storageName'))]",
                "parameterValues": {
                  "accountName": "[parameters('storageName')]",
                  "accessKey": "[listKeys(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', parameters('subscriptionId'), parameters('saResourceGroup')), 'Microsoft.Storage/storageAccounts', parameters('storageName')), '2021-06-01').keys[0].value]"
                },
                "api": {
                  "name": "[parameters('name')]",
                  "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureblob', subscription().subscriptionId, resourceGroup().location)]",
                  "type": "Microsoft.Web/locations/managedApis"
                }
              }
            }
          ],
          "outputs": {
            "blobConnectionId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Web/connections', parameters('name'))]"
            },
            "blobConnectionName": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Web/connections', parameters('name'))).displayName]"
            }
          }
        }
      }
    },
    {
      "condition": "[parameters('deployBlobUpdateLogicApp')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('getBlobUpdateLogicApp-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('existingAutomationAccountRg')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "cloud": {
            "value": "[variables('cloud')]"
          },
          "dayOfWeek": {
            "value": "[parameters('dayOfWeek')]"
          },
          "dayOfWeekOccurrence": {
            "value": "[parameters('dayOfWeekOccurrence')]"
          },
          "emailContact": {
            "value": "[parameters('emailContact')]"
          },
          "officeConnectionName": {
            "value": "[variables('officeConnectionName')]"
          },
          "startTime": {
            "value": "[parameters('startTime')]"
          },
          "templateSpecId": {
            "value": "[parameters('templateSpecId')]"
          },
          "tenantId": {
            "value": "[variables('tenantId')]"
          },
          "waitForRunBook": {
            "value": "[variables('waitForRunBook')]"
          },
          "workflows_GetBlobUpdate_name": {
            "value": "[variables('workflows_GetBlobUpdate_name')]"
          },
          "automationAccountConnectionName": {
            "value": "[variables('automationAccountConnectionName')]"
          },
          "automationAccountName": {
            "value": "[variables('automationAccountNameValue')]"
          },
          "automationAccountResourceGroup": {
            "value": "[parameters('existingAutomationAccountRg')]"
          },
          "automationAccountLocation": {
            "value": "[reference(extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))).outputs.aaLocation.value]"
          },
          "blobConnectionName": {
            "value": "[variables('blobConnectionName')]"
          },
          "identityType": {
            "value": "[variables('identityType')]"
          },
          "state": {
            "value": "[variables('state')]"
          },
          "schema": {
            "value": "[variables('schema')]"
          },
          "contentVersion": {
            "value": "[variables('contentVersion')]"
          },
          "connectionType": {
            "value": "[variables('connectionType')]"
          },
          "triggerFrequency": {
            "value": "[parameters('triggerFrequency')]"
          },
          "triggerInterval": {
            "value": "[parameters('triggerInterval')]"
          },
          "storageAccountName": {
            "value": "[if(parameters('deployBlobUpdateLogicApp'), parameters('exisitingStorageAccount'), 'None')]"
          },
          "container": {
            "value": "[if(parameters('deployBlobUpdateLogicApp'), parameters('container'), 'None')]"
          },
          "hostPoolName": {
            "value": "[parameters('hostPoolName')]"
          },
          "checkBothCreatedAndModifiedDateTime": {
            "value": "[variables('checkBothCreatedAndModifiedDateTime')]"
          },
          "maxFileCount": {
            "value": "[variables('maxFileCount')]"
          },
          "subscriptionId": {
            "value": "[variables('subscriptionId')]"
          },
          "runbookNewHostPoolRipAndReplace": {
            "value": "[variables('runbookNewHostPoolRipAndReplace')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "14168866856196095368"
            }
          },
          "parameters": {
            "subscriptionId": {
              "type": "string"
            },
            "workflows_GetBlobUpdate_name": {
              "type": "string"
            },
            "automationAccountConnectionName": {
              "type": "string"
            },
            "automationAccountResourceGroup": {
              "type": "string"
            },
            "automationAccountLocation": {
              "type": "string"
            },
            "automationAccountName": {
              "type": "string"
            },
            "blobConnectionName": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "identityType": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "schema": {
              "type": "string"
            },
            "contentVersion": {
              "type": "string"
            },
            "connectionType": {
              "type": "string"
            },
            "triggerFrequency": {
              "type": "string"
            },
            "triggerInterval": {
              "type": "int"
            },
            "container": {
              "type": "string"
            },
            "hostPoolName": {
              "type": "string"
            },
            "checkBothCreatedAndModifiedDateTime": {
              "type": "bool"
            },
            "maxFileCount": {
              "type": "int"
            },
            "runbookNewHostPoolRipAndReplace": {
              "type": "string"
            },
            "storageAccountName": {
              "type": "string"
            },
            "waitForRunBook": {
              "type": "bool"
            },
            "emailContact": {
              "type": "string"
            },
            "officeConnectionName": {
              "type": "string"
            },
            "startTime": {
              "type": "string"
            },
            "dayOfWeek": {
              "type": "string"
            },
            "dayOfWeekOccurrence": {
              "type": "string"
            },
            "cloud": {
              "type": "string"
            },
            "tenantId": {
              "type": "string"
            },
            "templateSpecId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2017-07-01",
              "name": "[parameters('workflows_GetBlobUpdate_name')]",
              "location": "[parameters('location')]",
              "tags": {},
              "identity": {
                "type": "[parameters('identityType')]"
              },
              "properties": {
                "state": "[parameters('state')]",
                "definition": {
                  "$schema": "[parameters('schema')]",
                  "contentVersion": "[parameters('contentVersion')]",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "[parameters('connectionType')]"
                    }
                  },
                  "triggers": {
                    "When_a_software_package_is_added_to_storage_account_container_for_AVD": {
                      "recurrence": {
                        "frequency": "[parameters('triggerFrequency')]",
                        "interval": "[parameters('triggerInterval')]"
                      },
                      "evaluatedRecurrence": {
                        "frequency": "[parameters('triggerFrequency')]",
                        "interval": "[parameters('triggerInterval')]"
                      },
                      "splitOn": "@triggerBody()",
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "[format('/v2/datasets/@{{encodeURIComponent(encodeURIComponent(''{0}''))}}/triggers/batch/onupdatedfile', parameters('storageAccountName'))]",
                        "queries": {
                          "checkBothCreatedAndModifiedDateTime": "[parameters('checkBothCreatedAndModifiedDateTime')]",
                          "folderId": "[format('/{0}', parameters('container'))]",
                          "maxFileCount": "[parameters('maxFileCount')]"
                        }
                      }
                    }
                  },
                  "actions": {
                    "Condition_Check_for_Approval_Selection_in_Email": {
                      "actions": {
                        "Create_Schedule_for_Hostpool_Rip_and_Replace_on_AVD_Environment": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "properties": {
                                "parameters": {
                                  "AutomationAccountName": "[parameters('automationAccountName')]",
                                  "ResourceGroupName": "[parameters('automationAccountResourceGroup')]",
                                  "ScheduleName": "[format('{0}-ScheduleForRipAndReplace', parameters('hostPoolName'))]",
                                  "StartTime": "[parameters('startTime')]",
                                  "DayOfWeek": "[parameters('dayOfWeek')]",
                                  "DayOfWeekOccurrence": "[parameters('dayOfWeekOccurrence')]",
                                  "environment": "[parameters('cloud')]",
                                  "runbookName": "[parameters('runbookNewHostPoolRipAndReplace')]",
                                  "HostPoolName": "[parameters('hostPoolName')]",
                                  "TenantId": "[parameters('tenantId')]",
                                  "TemplateSpecId": "[parameters('templateSpecId')]",
                                  "SubscriptionId": "[parameters('subscriptionId')]"
                                }
                              }
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureautomation']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "[format('/subscriptions/@{{encodeURIComponent(''{0}'')}}/resourceGroups/@{{encodeURIComponent(''{1}'')}}/providers/Microsoft.Automation/automationAccounts/@{{encodeURIComponent(''{2}'')}}/jobs', parameters('subscriptionId'), parameters('automationAccountResourceGroup'), parameters('automationAccountName'))]",
                            "queries": {
                              "runbookName": "New-AutomationSchedule",
                              "wait": "[parameters('waitForRunBook')]",
                              "x-ms-api-version": "2015-10-31"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Terminate": {
                            "runAfter": {},
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Cancelled"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment')?['SelectedOption']",
                              "Approve"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Send_Approval_Email_for_Rip_and_Replace_in_AVD_Environment": {
                      "runAfter": {},
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "body": {
                          "Message": {
                            "HideHTMLMessage": false,
                            "Importance": "High",
                            "Options": "Approve, Reject",
                            "ShowHTMLConfirmationDialog": false,
                            "Subject": "Software Update Found for AVD Hostpool Environment - Please Approve or Reject the Rip and Replace of the AVD Environment",
                            "To": "[parameters('emailContact')]"
                          },
                          "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "path": "/approvalmail/$subscriptions"
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureautomation": {
                        "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/{2}', parameters('subscriptionId'), resourceGroup().name, parameters('automationAccountConnectionName'))]",
                        "connectionName": "[parameters('automationAccountConnectionName')]",
                        "connectionProperties": {
                          "authentication": {
                            "type": "ManagedServiceIdentity"
                          }
                        },
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureautomation', parameters('subscriptionId'), parameters('location'))]"
                      },
                      "azureblob": {
                        "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/{2}', parameters('subscriptionId'), resourceGroup().name, parameters('blobConnectionName'))]",
                        "connectionName": "[parameters('blobConnectionName')]",
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureblob', parameters('subscriptionId'), parameters('location'))]"
                      },
                      "office365": {
                        "connectionId": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Web/connections/{2}', parameters('subscriptionId'), resourceGroup().name, parameters('officeConnectionName'))]",
                        "connectionName": "[parameters('officeConnectionName')]",
                        "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365', parameters('subscriptionId'), parameters('automationAccountLocation'))]"
                      }
                    }
                  }
                }
              }
            }
          ],
          "outputs": {
            "blobPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('workflows_GetBlobUpdate_name')), '2017-07-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('aa-deployment-{0}', parameters('deploymentNameSuffix')))]",
        "[extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', variables('subscriptionId'), parameters('existingAutomationAccountRg')), 'Microsoft.Resources/deployments', format('blobConnection-deployment-{0}', parameters('deploymentNameSuffix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2020-10-01",
      "name": "[format('notifications-deployment-{0}', parameters('deploymentNameSuffix'))]",
      "subscriptionId": "[variables('subscriptionId')]",
      "resourceGroup": "[parameters('hostPoolResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "actionGroupName": {
            "value": "[variables('actionGroupName')]"
          },
          "emailContact": {
            "value": "[parameters('emailContact')]"
          },
          "location": {
            "value": "[parameters('location')]"
          },
          "logAnalyticsWorkspaceResourceId": {
            "value": "[parameters('logAnalyticsWorkspaceResourceId')]"
          },
          "tags": {
            "value": {}
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.7.4.23292",
              "templateHash": "9853410293934178950"
            }
          },
          "parameters": {
            "actionGroupName": {
              "type": "string"
            },
            "emailContact": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "logAnalyticsWorkspaceResourceId": {
              "type": "string"
            },
            "tags": {
              "type": "object"
            }
          },
          "variables": {
            "logAlerts": [
              {
                "name": "AVD Rip and Replace Failed",
                "description": "The AVD Rip & Replace solution successfully added new session host to the specified AVD host pool.",
                "severity": 0,
                "evaluationFrequency": "PT5M",
                "windowSize": "PT5M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "AzureDiagnostics\n| where ResourceProvider == \"MICROSOFT.AUTOMATION\"\n| where Category  == \"JobStreams\"\n| where ResultDescription has \"AVD Rip & Replace failed\"",
                      "timeAggregation": "Count",
                      "dimensions": [
                        {
                          "name": "ResultDescription",
                          "operator": "Include",
                          "values": [
                            "*"
                          ]
                        }
                      ],
                      "operator": "GreaterThanOrEqual",
                      "threshold": 1,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                }
              },
              {
                "name": "AVD Rip and Replace Succeeded",
                "description": "The AVD Rip & Replace solution successfully added new session host to the specified AVD host pool.",
                "severity": 3,
                "evaluationFrequency": "PT5M",
                "windowSize": "PT5M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "AzureDiagnostics\n| where ResourceProvider == \"MICROSOFT.AUTOMATION\"\n| where Category  == \"JobStreams\"\n| where ResultDescription has \"AVD Rip & Replace succeeded\"",
                      "timeAggregation": "Count",
                      "dimensions": [
                        {
                          "name": "ResultDescription",
                          "operator": "Include",
                          "values": [
                            "*"
                          ]
                        }
                      ],
                      "operator": "GreaterThanOrEqual",
                      "threshold": 1,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                }
              }
            ]
          },
          "resources": [
            {
              "type": "microsoft.insights/actionGroups",
              "apiVersion": "2019-06-01",
              "name": "[parameters('actionGroupName')]",
              "location": "global",
              "properties": {
                "groupShortName": "EmailAlerts",
                "enabled": true,
                "emailReceivers": [
                  {
                    "name": "[parameters('emailContact')]",
                    "emailAddress": "[parameters('emailContact')]",
                    "useCommonAlertSchema": true
                  }
                ]
              }
            },
            {
              "copy": {
                "name": "scheduledQueryRules",
                "count": "[length(range(0, length(variables('logAlerts'))))]"
              },
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2021-08-01",
              "name": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].name]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "actions": {
                  "actionGroups": [
                    "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
                  ],
                  "customProperties": {}
                },
                "criteria": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].criteria]",
                "displayName": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].name]",
                "description": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].description]",
                "enabled": false,
                "evaluationFrequency": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].evaluationFrequency]",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceResourceId')]"
                ],
                "severity": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].severity]",
                "windowSize": "[variables('logAlerts')[range(0, length(variables('logAlerts')))[copyIndex()]].windowSize]"
              },
              "dependsOn": [
                "[resourceId('microsoft.insights/actionGroups', parameters('actionGroupName'))]"
              ]
            }
          ]
        }
      }
    }
  ],
  "outputs": {
    "automationAccountName": {
      "type": "string",
      "value": "[variables('automationAccountNameValue')]"
    }
  }
}